user_pref("browser.startup.page", 1); // 1 = home page, 0 = blank page
user_pref("browser.startup.homepage", "{{ homepage_url }}"); // Set the homepage URL
user_pref("browser.aboutwelcome.enabled", false); // Disable the new-style about:welcome
user_pref("browser.startup.homepage_override.mstone", "ignore"); // Skip the "What's New" page
user_pref("startup.homepage_welcome_url", "{{ homepage_url }}"); // Set the welcome URL
user_pref("datareporting.policy.firstRunURL", ""); // Blank out first-run URL